$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 310px) and (max-width: 750px)";

@media #{$mobile}
  .show-navbar
    background-color: #fff
    border: 1px solid #000
  .icon-bar
    background-color: #000
  .tao-logo
    img
     width: 5.5em
     height:auto
@media #{$tablet}
