<template name="home">
  {{> showContent}}
  <br><br>
  {{> courseShow}}
  {{> blockSocial}}
</template>



<template name="showContent">
  <div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/photo-1449168013943-3a15804bb41c.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img src="/photo-1450849608880-6f787542c88a.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img src="/photo-1449157291145-7efd050a4d0e.jpg" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>


<template name="courseShow">
  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading">
        {{> navigatorCourse}}
      </div>

        <div class="panel-body">
          <div class="row">
            {{> Template.dynamic template=courseContainer}}
          </div>
        </div>
    </div>
  </div>
</template>

<template name="blockSocial">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <br>
        <div class="fb-page" data-href="https://www.facebook.com/Tao-Kungfu-System-199700286891323" data-tabs="timeline" data-width="400" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
        <br>
        <br>
      </div>
    </div>
    <p>© 2015 Tao Kung Fu System</p>
  </div>
</template>


<template name="healingCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</template>

<template name="martialCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m1.jpg" alt="...">
      <div class="caption">
        <h3>Hard Qi Gong 5 Practices</h3>
        <p>One of the reason why the human get old is because the earth gravity. The earth gravity by pulling our internal organ down make them tired and under fatigue. This 5 practices of Hard Qi Gong focus on training all the fascia and all the diaphragms to make them stronger and to support all the internal organ and bring them up again in their own place and shape. This practices also develop a strong focus and Mind-Body connection.</p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m2.jpg" alt="...">
      <div class="caption">
        <h3>Hard Qi Gong Form</h3>
        <p>The Hard Qi Gong Form is a very old form that came from the ancient knowledge of Shaolin Temple in China and was believed that this form was created by the founder of the Shaolin, Tah Mo. This form teaches how to grounding strong like tree and be soft and relaxed at same time. One particular and very important part of this form is to bring the Qi from the Tan Tien up to the chest and up to the face, eyes and crown.</p>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m3.jpg" alt="...">
      <div class="caption">
        <h3>Iron Shirt Qi Gong 1</h3>
        <p>Kung Fu was used in China long before the advent of firearms. During the Bolin Period, approximately 1000 B.C., training in the various spiritual/martial arts was very intense. It is said that at the time one tenth of the population of China was involved in some sort of Kung Fu. Iron Shirt Qi Gong is a method of Kung Fu, was learned as a protective training, providing internal power by the practice</p>
      </div>
    </div>
  </div>

  <!-- card 4 -->
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/m4.jpg" alt="...">
        <div class="caption">
          <h3>Iron Shirt Qi Gong 2</h3>
          <p>In the second level of Iron Shirt, one learns how to combine the mind, heart, bone structure and Qi into one moving unit. The static forms learned in the first level of Iron Shirt Qi Gong 2 evolve at</p>
        </div>
      </div>
    </div>

    <!-- card 5 -->
      <div class="col-lg-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Iron Shirt Qi Gong 3</h3>
            <p>In the third level of Iron Shirt, one learns how to strengthen the bones by increasing bone density and structure and to re-grow the marrow through bone breathing and internal sexual organ massage. One also learns how to direct internal power to the higher centers. This level of Iron Shirt works directly on the organs, bones and tendons in order to strengthen the entire system beyond its ordinary capacity.
An extremely efficient method of vibrating the internal organs allows the practitioner to shake toxic deposits out of the inner structure of each organ by enhancing Qi circulation.</p>
          </div>
        </div>
      </div>

      <!-- card 6 -->
        <div class="col-lg-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Tan Tien Qi Gong</h3>
              <p>Tan Tien Qi Gong is o­ne of the best Taoist Qi Gong practices used to develop the Tan Tien and Perineum power. We need Qi and Qi pressure in the Tan Tien as a foundation for most of the Martial Qi Gong practices, especially for Iron Shirt Qi Gong and Tai Chi Qi Gong and meditation.
The Tan Tien is the energy reserve in the body; it is the place where we store the energy we generate, gather and absorb in Qi Gong, Tai Chi and meditation. The Tan Tien is also called the ocean of Qi.  According to Chinese medical theory, o­nce the ocean is full it overflows into the eight</p>
            </div>
          </div>
        </div>
</template>
