<template name="pictureGallery">
  <div class="container">
      <div class="col-lg-12">
        <h3>Picture Gallery</h3>
        <hr>
      </div>
        <div class="map-container">
          {{> googleMap name="taoMap" options=mapGallery}}
        </div>
        <div id="gallery" class="galleryMap" hidden>
          {{#each images 'pattaya'}}
            <a><img class="galleryMapImg1"  href="{{this}}" src="{{this}}" /></a>
          {{/each}}
        </div>
        <div id="gallery" class="galleryMap" hidden>
          {{#each images 'turkey'}}
            <a><img class="galleryMapImg2"  href="{{this}}" src="{{this}}" /></a>
          {{/each}}
        </div>
        <div id="gallery" class="galleryMap" hidden>
          {{#each images 'kunming'}}
            <a><img class="galleryMapImg3"  href="{{this}}" src="{{this}}" /></a>
          {{/each}}
        </div>
        <div id="gallery" class="galleryMap" hidden>
          {{#each images 'italy'}}
            <a><img class="galleryMapImg4"  href="{{this}}" src="{{this}}" /></a>
          {{/each}}
        </div>
  </div>
</template>
<!-- End Picture Gallery -->
