<template name="testiMonial">
  <div class="container">
    <div class="col-lg-12">
      <h2>Testimonial & Press</h2>
      <hr>
      <h4>TESTIMONIAL</h4>
      <p class="text-center">Feedback from Tao Kung Fu System Thai Workshop students</p>
      <a class="text-center" href="https://www.youtube.com/watch?v=OoTfpLPnkaw"><h4>WATCH VIDEO</h4></a>

      <br>

      <h4>PRESS</h4>
      <p class="text-center">Turkish newspaper article 1</p>
      <a class="text-center" href="#"><h4>READ PDF</h4></a>
      <p class="text-center">Turkish newspaper article 2</p>
      <a class="text-center" href="#"><h4>READ ONLINE</h4></a>
    </div>
  </div>
</template>
<!-- End Testimonial & Press -->
