<template name="testimonial">
  <div class="container">
    <div class="col-lg-12">
      <h2>Testimonial & Press</h2>
      <hr>
      <h4>TESTIMONIAL</h4>
      <div class="ui embed" data-url="https://www.youtube.com/embed/OoTfpLPnkaw"></div>
      <br>

      <h4>PRESS</h4>
      <p class="text-center">Turkish newspaper article 1</p>
      <a class="text-center" href="/pdf/turkeypress1.pdf"><h4>READ PDF</h4></a>
      <br>
      <p class="text-center">Turkish newspaper article 2</p>
      <img src="/newpaper.jpg" alt="Italy">
      <!-- img src="/header/Head3.png" -->
    </div>
  </div>
</template>
<!-- End Testimonial & Press -->
