<template name="videoGallery">
  <div class="container">
    <div class="col-lg-12">
      <h3>Video Gallery</h3>
      <p>&nbsp;</p>
      <p><b>Master TaoMasa - Life</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/vwfBkReyqnw"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>Workshop TKFS in Bruxelles and Paris in October 2015</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/zvq4bi9gaRs"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Workshop in China</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/yfmFeQEsCeY"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoKungFuSystem Workshop in Thailand</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/OoTfpLPnkaw"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Tai Chi Qigong The Best Chinese Yoga</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/9Tj8xT7O_BU"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Introduction to Tao Kung Fu System</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/sJ_CiQmQyQ4"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Tile vs Rib cage</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/fcaKk6t8r9s"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Steel Bar vs Throat and Block vs Back</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/UIUeqWp9wtI"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Iron Palm on Tiles</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/sJmb8cn4gD0"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Iron Palm on Block</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/VJl-ZRLTJ8A"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Iron Body Tile vs Head</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/_sGN2_nK2xs"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Iron Body Elbow Tecnique</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/nqrreN2PAq4"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS TaoMasa Iron Body Chopstick vs Throat</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/y54okyLIY9s"></div>
      <hr>
      <p>&nbsp;</p>
      <p><b>TKFS Master TaoMasa Iron Body</b></p>
      <div class="ui embed" data-url="https://www.youtube.com/embed/F8ySFShjCes"></div>
      <hr>
      <p>&nbsp;</p>
    </div>
  </div>
</template>
<!-- End Video Gallery -->
