<template name="homeItaly">
  <div class="ui center aligned container">
    <p>
      <img class="ui small centered circular image" src="/header/taoLogoItaly.jpg" alt="TaoItaly Logo">
      <br>
      <i class="quote left icon"></i>
      Raggiungere salute, benessere, ricchezza e spiritualità. <br>
      Vivere in perfetta sintonia con se stessi e con l’esistenza. <br>
      Tornare a essere individui liberi.
      <i class="quote right icon"></i>
    </p>
  </div>
  <br>
  <div class="ui right aligned container">
    <b>…tutto questo è Tao Kung Fu System.</b>
  </div>
  <br>
  <div class="ui container">
    <div class="ui raised segment">
      <p>
        Stai per scoprire gli elementi fondamentali per la tua piena realizzazione personale: antichi segreti ormai svelati, ma che molti non comprendono anche dopo anni di pratiche olistiche, terapie alternative, costosi seminari sulla crescita personale o rigide abitudini alimentari.
        Tao Kung Fu System è un metodo che fonde antiche arti curative taoiste e discipline marziali, nato dal naturale desiderio del suo fondatore Tao Masa di condividere i risultati di 35 anni di personale ricerca.
        <br><br>Il Tao Kung Fu System sta aiutando centinaia di persone a ritrovare il proprio benessere psicofisico in numerosi Paesi nel mondo: dalla Tailandia alla Cina, dalla Turchia all’Italia.
        <br><br>Nel Tao Kung Fu non c’è nulla di esoterico, magico o miracoloso. Non richiede che tu modifichi le tue convinzioni religiose e le tue abitudini.
        <br><br>
        <h2>
          L’intero sistema si basa sull’apprendimento di tecniche psicofisiche che portano risultati a chi sceglie di praticarle e di integrarle nella propria quotidianità.
        </h2>
        <br><br>Qual è l’elemento che rende il Tao Kung Fu efficace?
        <br>Siamo esseri dotati di un corpo fisico, di una mente, della capacità di provare emozioni, di uno spirito. La fisica quantistica ci conferma che siamo anche composti della stessa energia che tiene in vita tutto ciò che esiste in natura.
        <br>Tutte le pratiche del sistema Tao Kung Fu si basano su un presupposto fondamentale: la naturale capacità degli esseri umani di muovere questa misteriosa energia per mezzo della propria consapevolezza.
        <br><br>E’ una legge universale sempre valida. Che tu ne sia consapevole o no. E’ la legge alla base di tutte le “guarigioni miracolose” che accadono nel mondo. E’ la stessa legge che molto più spesso ci porta a fare esperienza della malattia.
        <br>La tua piena realizzazione come essere umano dipende da quanto sei capace di comprendere le leggi universali che regolano l’esistenza e di vivere in sintonia con esse. In altre parole… da quanto sei capace di vivere in accordo col Tao.
        <br>L’energia vitale, che i taoisti hanno anticamente definito “Qi”, non è concetto astratto: il Qi e i suoi effetti possono essere realmente percepiti nel tuo corpo, puoi davvero imparare a coltivare energia positiva e liberarti dell’unica vera causa di malattie e infelicità: lo stress.
        Poiché lo stress non è altro che energia stagnante che fluisce in modo innaturale.
        <br><br>
        <h2>
          La grande diffusione di validissime tecniche come l’agopuntura, la medicina Il Tao Kung Fu agisce riattivando l’innata capacità della tua mente di far fluire correttamente il Qi dentro e fuori il corpo fisico, eliminando i blocchi e lo stress.
        </h2>
        <br><br>
        tradizionale cinese, lo shiatsu, lo yoga e l’ayurveda ci hanno permesso di comprendere che la malattia e l’infelicità derivano da uno stato di disequilibrio e/o da blocchi nel naturale fluire della nostra energia vitale.
        <br><br>Abbiamo quindi accettato l’idea che alcuni esercizi fisici, ricevere trattamenti da un bravo operatore del benessere o modificare la nostra alimentazione possono aiutarci concretamente a ristabilire l’equilibrio energetico.
        <br><br>
        <h2>
          Ma l’obiettivo principale del Tao Kung Fu System è altro: è donarti l’abilità di percepire la tua energia e di riportare l’equilibrio facendo uso della tua consapevolezza e del  tuo potere interiore.
        </h2>
        <br><br>
        Tutte le pratiche agiscono considerando l’essere umano come una unità corpo/mente/spirito ed agiscono contemporaneamente su più livelli:
        <br>
        - muscoli, tendini, fasce e sistema scheletrico
        <br>
        - organi interni, ghiandole e sistema immunitario
        <br>
        - meridiani e sistema energetico
        <br><br>
        Tutto questo è possibile dedicando anche poco tempo a tecniche che conservano una straordinaria semplicità.
        <br><br>
        Come è possibile?
        <br><br>
        La qualità del tuo benessere non dipende da quanto sei disposto a sacrificarti, o dalla complessità delle tecniche che scegli di praticare, ma da quanto la tua attenzione e la tua energia sono focalizzate sull’ottenerlo: hai solo bisogno di capire come farlo in modo semplice, pratico e piacevole.
        <br><br>
        Il Tao Kung Fu System:
        <br><br>
        - è adatto a tutte le età e le fisicità
        <br>- è facile da imparare e praticare da soli
        <br>- è bellissimo da praticare in gruppo
        <br>- rilassa e favorisce la concentrazione
        <br>- non richiede sforzo fisico
        <br><br>
        I risultati si traducono in salute, vitalità, equilibrio emozionale, capacità di mantenere la propria centratura anche in presenza di situazioni di stress e di pericolo.
        <br><br>
        <h2>
          L’idea antica e rivoluzionaria alla base del Tao Kung Fu non è teorica e non è qualcosa a cui devi credere: devi sperimentarla in prima persona!
        </h2>
        <br><br>
        Se vivi in Puglia clicca in basso e ricevi immediatamente l'invito per partecipare gratis ad una classe di General Qi Gong che si tiene settimanalmente nella sede del Tao Kung Fu Italia presso il Circolo “Open Source” di Bisceglie (BT) in v. Ruvo, 127.
        <br><br>
        <div class="ui center aligned container">
          <a href="/pdf/TKFS_General_Qi_Gong_Free.pdf"><i class="huge file pdf outline icon"></i></a>
        </div>
        <br>
        Se sei distante, contattaci subito per essere informato in tempo reale sui Tao Kung Fu Workshop residenziali in formula weekend che vengono programmati ciclicamente in Italia con la presenza del Maestro Masa.
        <br><br>
        <div class="ui center aligned container">
          <a href="{{pathFor 'contact'}}"><i class="mail huge icon"></i></a>
        </div>
        <br>
      </p>
    </div>
  </div>
  <br><br>
</template>
