<template name="homeIta">
  {{> showContent}}
  <br><br>
  {{> courseShow}}
</template>

<template name="showContent">
  <div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/header/Head1.png" alt="Thailand">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="/header/Head2.png" alt="Italy">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="/header/Head3.png" alt="Italy">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="/header/Head4.png" alt="Italy">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="/header/Head5.png" alt="Italy">
        <div class="carousel-caption"></div>
      </div>
    </div>
  </div>
</div>
</template>



<template name="healingCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m18.jpg" alt="...">
      <div class="caption">
        <h3>TKFS base</h3>
        <p>Il primo livello di Tao Kung Fu System comprende le tecniche fondamentali del Qi Gong curativo. Il loro apprendimento è necessario per l’esecuzione di tecniche di autoguarigione più complesse ed è fortemente consigliato anche per affrontare con maggiore consapevolezza il percorso marziale.</p>
        <br>
        <p>Nel livello base, il praticante sviluppa la capacità di veicolare la propria energia vitale Qi attraverso il corpo sia da fermo che durante l’esecuzione di esercizi fisici.</p>
        <br>
        <a id="generalQiGong" class="sub-course" href="#">General Qi Gong</a>
        <br>
        <a id="innerSmile" class="sub-course" href="#">Sorriso Interiore</a>
        <br>
        <a id="6HealingSounds" class="sub-course" href="#">Sei Suoni Curativi</a>
        <br>
        <a id="microcosmicOrbit" class="sub-course" href="#">Orbita Microcosmica</a>
        <br>
        <a id="taoYin" class="sub-course" href="#">Tao Yin</a>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m19-2.jpg" alt="...">
      <div class="caption">
        <h3>TKFS Intermedio</h3>
        <p>
        Il livello intermedio del Tao Kung Fu System comprende tecniche di Qi Gong curativo di maggiore complessità.
        </p>
        <br>
        <p>
          Il praticante, ormai capace di veicolare la propria energia vitale Qi attraverso il corpo, può ora lavorare con maggiore dettaglio sulla propria energia sessuale, sul processo di rigenerazione cellulare del corpo, sulla capacità di prendere energia dall’esterno.
        </p>
        <br>
        <br>
        <a id="emptyForce" class="sub-course" href="#">Forza Vuota</a>
        <br>
        <a id="3Fire6Directions" class="sub-course" href="#">3 Fuochi 6 Direzioni</a>
        <br>
        <a id="stemCellsSystem" class="sub-course" href="#">Sistema Cellule Staminali</a>
        <br>
        <a id="sexualHealingQiGongMan" class="sub-course" href="#">Qi Gong Sessuale Maschile</a>
        <br>
        <a id="sexualHealingQiGongWoman" class="sub-course" href="#">Qi Gong Sessuale Femminile</a>
        <br>
        <a id="sexualHealingQiGongCouple" class="sub-course" href="#">Qi Gong Sessuale di Coppia</a>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m20.jpg" alt="...">
      <div class="caption">
        <h3>TKFS Avanzato</h3>
        <p>
        Il livello avanzato di Qi Gong curativo apre la tua consapevolezza ad una visione più ampia del concetto di benessere e di guarigione che, dal livello fisico ed emozionale, entra nella sfera spirituale.
        </p>
        <br>
        <p>
        Le tecniche comprese in questo livello rientrano nella sfera dell’alchimia interiore: un processo che ti permette di trasformare la qualità della tua energia interiore, anche quella negativa conservata all’interno dei tuoi organi, per utilizzarla a tuo vantaggio.
        </p>
        <br>
        <p>
        Apprenderai inoltre come mettere consapevolmente in connessione l’energia vitale che scorre nel tuo corpo con l’energia infinita di cui è composto l’universo che ti circonda.
        </p>
        <br>
        <br>
        <a id="fusionofthe5Elements1" class="sub-course" href="#">Fusione dei 5 Elementi 1</a>
        <br>
        <a id="fusionofthe5Elements2" class="sub-course" href="#">Fusione dei 5 Elementi 2</a>
        <br>
        <a id="fusionofthe5Elements3" class="sub-course" href="#">Fusione dei 5 Elementi 3</a>
        <br>
        <a id="kujiIn" class="sub-course" href="#">Kuji In</a>
      </div>
    </div>
  </div>
</template>

<template name="martialCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m1.jpg" alt="...">
      <div class="caption">
        <h3>5 Pratiche di Hard Qi Gong</h3>
        <p>Uno dei fattori che determinano l’invecchiamento dell’essere umano è l’effetto della forza di gravità terrestre. La gravità attira verso il basso i nostri organi interni causando fatica e stress.
Queste 5 Pratiche di Hard Qi Gong concentrano il loro effetto sull’irrobustimento delle fasce e dei diaframmi rendendoli più forti e adatti a sostenere i tuoi organi interni nella loro sede e nella loro forma naturale.
Questo processo sviluppa inoltre una forte connessione corpo-mente.</p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m2.jpg" alt="...">
      <div class="caption">
        <h3>Forma Hard Qi Gong</h3>
        <article>
          <p>Forma di Qi Gong marziale molto antica la cui creazione viene attribuita direttamente a Tah Mo, il monaco guerriero fondatore del Tempio Shaolin in Cina.
Attraverso questa pratica imparerai a radicarti alla terra ed essere nel contempo flessibile e rilassato come un albero.
Un aspetto molto importante della pratica consiste nel dirigere l’energia vitale Qi verso l’alto trasferendola dal Tan Tien fino al petto, al viso, agli occhi e alla corona.
Portando il Qi nei nostri occhi miglioriamo la capacità di visione e sviluppiamo ciò che i taoisti chiamiamo "Gli Occhi del Drago".</p>
        </article>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m3.jpg" alt="...">
      <div class="caption">
        <h3>Camicia di Ferro 1</h3>
        <p>
          Sotto il nome di “Camicia di Ferro” si raggruppano una serie di tecniche anticamente nate in ambito marziale, validissime ancora oggi anche e soprattutto per i loro effetti salutistici.
Il primo modulo consiste nell’apprendimento di una serie di posture corporee statiche che ne rinforzano la struttura. A livello fisico diventiamo capaci di allineare il nostro sistema scheletrico alla gravità terrestre, rinforziamo le fasce e distendiamo la spina dorsale prevenendo discopatie e problemi posturali. A livello energetico impariamo a connetterci alla terra attraverso i nostri piedi acquistando stabilità e flessibilità.
Una pratica costante delle posizioni della “Camicia di Ferro” rende il corpo più capace di protegge gli organi vitali da eventuali traumi esterni, incrementa la produzione di ormoni da parte del sistema endocrino, rafforza le difese immunitarie donandoti un generale senso di benessere.
La Camicia di Ferro è fondamentale per ottimizzare la pratica del Tai Chi e di qualsiasi altra forma marziale.
        </p>
        </div>
    </div>
  </div>

  <!-- card 4 -->
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/m4.jpg" alt="...">
        <div class="caption">
          <h3>Camicia di Ferro 2</h3>
          <p>
            Nel secondo livello della “Camicia di Ferro” apprenderai come integrare mente, cuore, struttura ossea ed energia vitale Chi in un unico movimento. Le posizioni statiche apprese nel primo livello diventano dinamiche.
L’obiettivo è sviluppare la radicizzazione, la forza interiore e l’abilità di assorbire e scaricare l’energia attraverso i tendini.
Gli esercizi consento al praticante di rinnovare, allungare e rinforzare tendini e articolazioni: tale processo risulta nel tempo molto più utile del lavoro sul rafforzamento muscolare, che tende a perdersi con l’avanzare dell’età.
          </p>
          </div>
      </div>
    </div>

    <!-- card 5 -->
      <div class="col-lg-4">
        <div class="thumbnail">
          <img src="/m001.jpg" alt="...">
          <div class="caption">
            <h3>Camicia di Ferro 3</h3>
            <p>
              Il terzo livello della “Camicia di Ferro” si concentra sulla rigenerazione del midollo osseo. Con il passare degli anni il midollo osseo si ritira lasciando spazio ad accumuli di grasso nei tessuti ossei, un processo che favorisce l’insorgere dell’osteoporosi.
La tecnica consiste nel comprimere l’energia vitale Qi nelle ossa attraverso l’impiego della nostra energia sessuale al fine di bruciare i tessuti adiposi e favorire maggiore densità minerale nel midollo, rendendo le ossa resistenti e vitali come nei giovani.
E’ possibile inoltre apprendere  come liberare gli organi interni dalle tossine accumulate attraverso un particolare lavoro vibrazionale.
            </p>
            </div>
        </div>
      </div>

      <!-- card 6 -->
        <div class="col-lg-4">
          <div class="thumbnail">
            <img src="/m002.jpg" alt="...">
            <div class="caption">
              <h3>Tan Tien Qi Gong</h3>
              <p>
                Il Tan Tien è la riserva di energia del tuo corpo, è il luogo dove conserviamo l'energia che generiamo, raccogliamo e assorbiamo attraverso la pratica del Qi Gong. Il Tan Tien viene anche chiamato “l'oceano del Qi”. Secondo la teoria medica cinese, quando l'oceano è pieno trabocca negli otto meridiani straordinari. Una volta che anche questi canali sono pieni, il Qi fluisce nei dodici meridiani ordinari, ciascuno dei quali è associato ad un particolare organo.
Il Tan Tien è quindi alla base dell'intero sistema energetico del corpo. Gli esercizi del Tan Tien Qi Gong ti aiuteranno a sviluppare la pressione Qi, invertendo la naturale tendenza della forza vitale a muoversi a spirale verso il basso disperdendosi.
Il Tan Tien Qi Gong è una delle migliori pratiche taoiste per sviluppare la potenza del Tan Tien e perineo. Una maggiore quantità di Qi e pressione nel Tan Tien è fondamentale per la maggior parte delle pratiche di Qi Gong marziale, soprattutto per le tecniche della Camicia di Ferro Qi Gong e del Tai Chi.
              </p>
              </div>
          </div>
        </div>
</template>

<template name="taichiCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m5.jpg" alt="...">
      <div class="caption">
        <h3>Tai Chi Qi Gong 1</h3>
        <p>
          Il Tai Chi consiste nell’apprendimento e nella esecuzione di una particolare forma marziale. E’ caratterizzato da movimenti che assecondano la forza dell’avversario con cambiamenti continui e fluidi della mente e del corpo, senza opporsi ad essa con violenza. Non si utilizza l’energia dei muscoli, ma quella interiore: ai movimenti si affianca infatti un lavoro di visualizzazione, controllo del respiro, stimolazione degli organi.
        </p>
        <br>
        <p>
          Nel Tao Kung Fu lavoriamo con una sequenza di 13 movimenti eseguiti nelle 4 direzioni in senso orario e antiorario. Si tratta di una forma molto breve se paragonata a quelle proposte dalle scuole tradizionali: è una scelta voluta per aiutarti a non impiegare troppa energia per la memorizzazione sterile di centinaia di movimenti e concentrarti su dettagli fondamentali quali postura, stabilità, corretta alternanza di forza e morbidezza.
        </p>
        <br>
        <p>
          Nella pratica si correggono posture errate che creano blocchi energetici e causano malattie. Il Tai Chi è ormai considerato in tutto il mondo una disciplina praticabile ad ogni età, preziosa per migliorare la salute, la capacità di mantenere l’equilibrio, l’agilità ed in generale il benessere psico-fisico.
        </p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m6.jpg" alt="...">
      <div class="caption">
        <h3>Tai Chi Qi Gong 2</h3>
        <p>
          In questo secondo livello di meditazione in movimento apprenderai come utilizzare tecniche di assorbimento, trasmissione e scarico delle energie della Terra e dell’Universo.
        </p>
        <br>
        <p>
        La pratica consiste di 13 movimenti eseguiti in senso orario e antiorario, come nel Tai Chi Qi Gong 1, associati alle applicazioni del “pushing hands”: esercizi da praticare in coppia nei quali si impara a reagire adeguatamente al contatto con il corpo di un avversario e a gestirne la forza.
        </p>
        <br>
        <p>
          Questa disciplina, oltre a migliorare l'allineamento posturale e il coordinamento corpo-mente, è ideale per l’integrazione di efficaci applicazioni di autodifesa.
        </p>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m7.jpg" alt="...">
      <div class="caption">
        <h3>Tai Chi Qi Gong 3</h3>
        <p>
          Il Tai Chi Qi Gong 3 è il livello avanzato di meditazione in movimento, maggiormente ispirato allo stile Wu: caratterizzato da posizioni di ampiezza media e sempre leggermente inclinate in avanti.
La pratica consiste in otto movimenti eseguiti nelle otto direzioni e connessi con le otto forze della natura.
L’impiego di posture e torsioni particolari favoriscono l’apertura dei kua: le aree del tuo corpo che comprendono le linee inguinali, le anche, il sacro e la parete pelvica.
Con l’esperienza, oltre ad ottenere un maggiore allineamento delle anche e un forte coordinamento corpo-mente a supporto della tua capacità di autodifesa, apprenderai come risvegliare il Tan Tien, attivare l’energia dei Reni e dirigere le Forze Cosmiche attraverso i tuoi movimenti.
        </p>
      </div>
    </div>
  </div>

  <!-- card 4 -->
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/m8.jpg" alt="...">
        <div class="caption">
          <h3>Tai Chi della Sfera</h3>
          <p>
          Consiste nell’esecuzione di forme che prevedono l’impiego di una sfera. Si tratta di una tecnica di alto livello che necessita di una grande capacità di percezione e di padronanza del proprio corpo.
          </p>
          <p>
            Con la pratica aumenterai notevolmente la tua resistenza fisica e l’abilità nel mantenere fluidi e costanti i tuoi movimenti.
          </p>
          <p>
            Il Tai Chi della Sfera permette di raggiungere numerosi obiettivi:
          </p>
          <ul>
            <li>rafforzare il busto, in particolare la colonna vertebrale e parte bassa della schiena.</li>
            <li>rigenerare ossa, midollo osseo, muscoli, tendini e legamenti indipendentemente dall’età.</li>
            <li>migliorare e aumentare il flusso di Qi nel corpo. </li>
          </ul>
        </div>
      </div>
    </div>
</template>


<template name="forceCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m9.jpg" alt="...">
      <div class="caption">
        <h3>Earth Force</h3>
        <p>The earth element is the first and perhaps the most important element to study. In this element the practitioners learn how to grounding and centering in the real self, standing like an unmovable mountain.</p>
        <p>The training of Earth element is focus on body structure developing (muscle, joint and tendon), relaxing, Hara centering, grounding and general self-defense.
The training includes:</p>
        <p>Body movement: rolling and break fall, forward, backwards & sideways
Attack: striking, kicking and punching
Defense: grappling, throwing, choking, and joint locks
Mind science: mudra and meditations for Earth Force.
Also the practitioner to pass to the water level must learn the practice of Iron Shirt 1, and Tai Chi Qi Gong 1</p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m10.jpg" alt="...">
      <div class="caption">
        <h3>Water Force</h3>
        <p>After the grounding and the stability of the Earth Force, we go to the flowing of the Water Force.</p>
        <p>Water element is the element of “defense”</p>
        <p>We learn how to flow back like the sea-wave to absorb and intercept the enemy-attack power and return discharging back with decision and focus to the attacker.
The training of Water Force is focus on body structure developing (muscle, joint and tendon), timing, Tan Tien movement, flowing movement and general self-defense.</p>
        <p>The training includes:
Body movement: positioning, rolling and break fall, forward, backwards & sideways
Attack: striking, kicking, punching, elbow, knee
Defense: grappling, throwing, choking, and joint locks
Mind science: mudra and meditations of Water Force
Also the practitioner to pass to the fire level must learn the Tao practice of Iron Shirt 2, and Tai Chi Qi Gong 2</p>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m11.jpg" alt="...">
      <div class="caption">
        <h3>Fire Force</h3>
        <p>After grounding and flowing we study the burning Force of Fire.</p>
        <p>Fire is the Force of “attack”. This is the Force of the aggressive and focus intension, always under control.</p>
        <p>The training of Fire Force is focus on body structure developing (muscle, joint and tendon), timing, Tan Tien expansion, focus movement and advance self-defense.</p>
        <p>The training includes:
Body movement: positioning, rolling and break fall, forward, backwards & sideways
Attack: striking, kicking, punching, elbow, knee
Defense: grappling, throwing, choking, and joint locks
Mind science: Hard Qi Gong, mudra and meditations of Fire Force
Also the practitioner to pass to the Wind level must learn the Tao practice of Iron Shirt 3 and Iron Fist.</p>
      </div>
    </div>
  </div>

  <!-- card 4 -->
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/m12.jpg" alt="...">
        <div class="caption">
          <h3>Wind Force</h3>
          <p>After the grounding, flowing and burning we go to study the Wind Force.</p>
          <p>Wind is the Force of high consciousness, the compassion and no fight intention.</p>
          <p>The training of Wind element is focus on escaping, and teaches the circular movement to evade an attacker's strength while capturing & redirecting momentum.</p>
          <p>Also like every element: body structure developing (muscle, joint and tendon), timing, Tan Tien movement in all directions, focus movement and advance self-defense.</p>
        </div>
      </div>
    </div>

    <!-- card 5 -->
      <div class="col-lg-4">
        <div class="thumbnail">
          <img src="/m13.jpg" alt="...">
          <div class="caption">
            <h3>Void Force</h3>
            <p>Void is the last and the highest level of the 5 Forces. This is the master element that, without, nothing can be. Void is emptiness, is the universe and is the empty space full of energy.</p>
            <p>This energy is the ONE that produce the ALL. The training of Void Force is focus on all.</p>
            <p>In this Force all the practices and all knowledge of the Tao Kung Fu System are practice together. This is the moment to learn to how to be and flow with the energy of the situation, and not just try to remember some kind of technique of self-defense but became part of the ALL.</p>
            <p>Loose the body and mental boundary, and attacker and defender became ONE.</p>
          </div>
        </div>
      </div>
</template>


<template name="therapyCourse">
  <!-- card 1 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m14.jpg" alt="...">
      <div class="caption">
        <h3>Internal Organ Massage</h3>
        <p>Internal Organ Qi Massage techniques are used directly over the navel and surrounding abdominal areas where stress, tension and negative emotions accumulate.</p>
        <p>The Qi, life-force energy, moves through the body’s internal channels, nervous system, blood vessels, and lymph glands. These systems concentrate and cross paths in the abdomen, which acts as their control center. Tensions, worries, and stresses of the day, month, or year accumulate and are seldom dispersed. These disturbances can cause physical tangling and knotting of the nerves, blood vessels, and lymph nodes. The result is the gradual obstruction of energy circulation, which may lead to any number of maladies including, but not limited to, indigestion, constipation, bloating, insomnia, whole body toxicity, poor skin quality, and an inability to lose weight.</p>
        <p>The ancient Taoists realized that negative emotions cause serious damage to one’s health, impairing both physical and spiritual functions. They understood that each human emotion is an expression of energy and that certain emotions could indicate the negative energy behind many physical ailments. They also identified a specific cycle of relationships between the emotions and the organs. For example, the experience of a “knot” in one’s stomach indicated the presence of worry, the negative emotion that accumulates in the stomach and spleen.</p>
        <p>By using the technic of this special massage we can release and dissolve all the knot and energy blockage stuck in the various internal organs.</p>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m15.jpg" alt="...">
      <div class="caption">
        <h3>Guasha</h3>
        <p>Guasha is a cleansing technique used by many practitioners of Traditional Chinese Holistic medicines.  In Guasha the practitioner uses a stroking action to methodically apply pressure to the skin with a specialized round-ended instrument. This technique causes small red or purple spots as reaction of the skin. The skin is not damaged in any way and the redness fades in a few days. Guasha is used to move blocked "Qi" (energy), which is considered to be the main cause of pain and spngness in muscles and joints.</p>
      </div>
    </div>
  </div>

<!-- card 3 -->
  <div class="col-lg-4">
    <div class="thumbnail">
      <img src="/m16.jpg" alt="...">
      <div class="caption">
        <h3>Cosmic healing</h3>
        <p>Cosmic Healing is a practice that teach to the practitioner how be connect to the universe and became a human channel to guide the force Qi into our or another body for reestablish the correct energy flow or for support and stimulate a healing process.</p>
      </div>
    </div>
  </div>

  <!-- card 4 -->
    <div class="col-lg-4">
      <div class="thumbnail">
        <img src="/m17.jpg" alt="...">
        <div class="caption">
          <h3>Cupping therapy</h3>
          <p>By using the glass cup we create suction on the skin of the body. This therapy releases soft tissue, drains excess fluids and toxins, lifts connective tissue, brings blood flow to stagnant skin and muscles and draw out negative energy from our internal organs. We also stimulate the lymphatic system and a total sense of well-being.</p>
        </div>
      </div>
    </div>
</template>



<template name="blockSocial">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-lg-6 centered ui center-tablet">
        <br>
        <div class="fb-page" data-href="https://www.facebook.com/Tao-Kungfu-System-199700286891323" data-tabs="timeline,events,messages" data-width="400" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
        <br>
        <br>
      </div>
      <div class="col-lg-6">
        <br>
          <div id="gallerySocial">
            {{#each images}}
              <a href="#"><img href="{{url}}" src="{{url}}"/></a>...
            {{/each}}
          </div>
      </div>
    </div>
  </div>
</template>

<template name="footer">
<hr>
  <div>
    <p>© 2015 Tao Kung Fu System</p>
  </div>
<br>
</template>




<template name="courseShow">
  <div class="container">
        {{> navigatorCourse}}
        <hr>
          <div class="row">
            {{> Template.dynamic template=courseContainer}}
          </div>
    </div>


    <!-- Modal Basic-->

    <div id="generalQiGong-modal" class="ui modal basic fullscreen fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey grey">General Qi Gong</div>
          <p>In general Qi Gong-ul ( Chi Kung ) reprezinta o serie de practici care se concentreaza pe miscarea fiecarei parti a corpului, dar in special pe incheieturi, pentru a le mentine flexibile si suple si de a intinde muschii si tendoanele pentru a le pastra puternice si in forma.</p>
          <p>Prin conectarea Mentalului cu Corpul pe perioada exersarii practicilor vom activa si stimula toate meridianele din corp pentru a permite energiei sa circule in mod natural. </p>
        </div>
      </div>
    </div>

    <div id="innerSmile-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Sorriso Interiore</div>
          <p>Molti problemi del nostro organismo sono riconducibili ad emozioni negative. Viceversa, le emozioni negative possono insorgere a causa di problemi organici.
Il Sorriso Interiore è una tecnica taoista fondamentale che si basa sull'invio dell’energia ai vari organi del corpo, portando ad essi e a noi un senso di benessere e felicità, aiutandoci a contrastare stress, tensioni e disarmonie psicofisiche.</p>
          <p>La tecnica del “Sorriso Interiore” si pratica da seduti con l’ausilio di specifiche visualizzazioni. Perfetta come prima pratica al mattino.
Una pratica costante del “Sorriso Interiore” , oltre ad eliminare lo stress, ti renderà immune dalle energie negative provenienti dall’esterno.</p>
        </div>
      </div>
    </div>

    <div id="6HealingSounds-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Sei Suoni Curativi</div>
          <p>Gli organi del nostro corpo memorizzano le emozioni negative. L’energia negativa accumulata negli organi, compromette il generale stato di salute del nostro organismo. L'obiettivo della pratica dei “Sei Suoni Curativi” è di trasformare la negatività in luce di guarigione trasmutando l'energia negativa in amore. Ciascun suono agisce a livello vibrazionale su uno specifico organo interno, ed ha il potere di purificarlo equilibrandone l’energia yin/yang .</p>
          <p>La tecnica dei “Sei Suoni Curativi” si pratica da seduti con l’ausilio di visualizzazioni, respiro e movimenti specifici. La sera, ancor meglio prima di andare a letto, è il momento migliore per praticarla.</p>
          <p>I “Sei Suoni Curativi” rilassano il corpo, favoriscono il sonno, raffreddano gli organi che si sono surriscaldati, ti liberano dal cattivo umore e dalle emozioni negative in genere.</p>
        </div>
      </div>
    </div>

    <div id="microcosmicOrbit-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Orbita Microcosmica</div>
          <p>Secondo la Medicina Tradizionale Cinese, l’energia vitale Qi scorre nel nostro corpo attraverso numerosi canali energetici chiamati “meridiani”. Ciascun meridiano è associato ad un organo e racchiude diverse funzioni indispensabili. Esistono inoltre due canali specifici, denominati Ren Mai (Vaso Concezione) e Du Mai (Vaso Governatore), che governano rispettivamente le energie Yin e Yang. Il primo meridiano inizia dall'arcata dentaria inferiore, scendere anteriormente al corpo e termina nel perineo. Il secondo parte dal perineo, segue la colonna vertebrale, passa sopra il cranio e termina in prossimità dell’arcata dentaria superiore.</p>
          <p>L’Orbita Microcosmica è il risultato dell’unione di questi canali, che si ottiene a livello fisico collegando la lingua all’arcata dentaria superiore. La circolazione dell’energia nell’orbita è una delle pratiche terapeutiche taoiste più importanti.</p>
          <p>Imparare a controllare la circolazione dell’energia vitale Qi all’interno dell’Orbita Microcosmica è fondamentale per mantenere il tuo equilibrio interno e prevenire blocchi nel flusso energetico che possono nel tempo trasformarsi in malattia.</p>

        </div>
      </div>
    </div>

    <div id="taoYin-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Tao Yin</div>
          <p>
            Il Tao Yin comprende una serie di esercizi taoisti, simili a quelli appartenenti alla tradizione dello yoga indiano, che favoriscono la fuoriuscita del calore in eccesso dal corpo e consentono un lavoro dettagliato su uno dei muscoli più importanti del sistema locomotore: il muscolo psoas.
          </p>
          <p>
            Il muscolo psoas è responsabile della deambulazione ed il suo irrigidimento è causa della maggior parte dei mal di schiena. Con gli esercizi del Tao Yin imparerai a rilassare ed allungare il sistema degli psoas e a rafforzare tutta la zona lombare rendendola più efficiente e permettendo ai tuoi reni di accumulare grandi quantità di energia.
          </p>
          <p>
            Si praticano da seduti e da sdraiati attraverso particolari stiramenti eseguiti in cicli di ripetizioni di pochi secondi per favorire un’alternanza tra contrazione e rilassamento.
          </p>
          <p>
            Gli esercizi del Tao Yin rivitalizzano e disintossicano muscoli, tendini, legamenti e articolazioni. Armonizzano il Qi, rilassano i muscoli addominali e i diaframmi, stimolano il “secondo cervello” situato nel basso ventre, rafforzano l’allineamento strutturale.
          </p>
          <p>
            Particolarmente indicato dopo sessioni di Qi Gong attivo.
          </p>
          </div>
      </div>
    </div>



<!-- Medium -->
    <div id="emptyForce-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Forza Vuota</div>
          <p>La tecnica taoista della “Forza Vuota” è una pratica di Qi Gong interiore di livello intermedio che fa uso della saliva come mezzo di trasporto del Qi.</p>
          <p>La saliva è considerata dai taoisti una sorta di elisir di lunga vita. Anche la scienza moderna continua a scoprire nuove proprietà di questo nostro fluido naturale.</p>
          <p>La saliva ha un ruolo fondamentale nella digestione, neutralizza gli acidi della bocca, lubrifica il cavo orale, è antibatterica e analgesica.</p>
          <p>Questa antica tecnica consiste nel fondere la saliva con l’energia vitale Qi proveniente dall’esterno per poi inghiottirla trasferendo il ricco fluido allo stomaco.</p>
          <p>Produce benefici a tutti gli organi dell’apparato digerente oltre a caricare di energia li nostro centro energetico principale, o Tan Tien, situato sotto l’ombelico.&nbsp;</p> 	</div>

        </div>
      </div>
    

    <div id="3Fire6Directions-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">3 Fuochi 6 Direzioni</div>
          <p>
            E’ noto che il corpo umano è formato per il 70% da acqua. L’acqua è l’elemento primordiale da cui la vita è nata sul pianeta Terra. Ma tale miracolo non sarebbe potuto avvenire senza il fuoco: elemento essenziale che garantisce dinamismo e trasformazione.
          </p>
          <p>
            Questa particolare tecnica di livello intermedio ci aiuta a riportare equilibrio nel corpo bilanciando questi due elementi. Nello specifico, apprendiamo come attivare il fuoco e come farlo circolare attraverso tre importanti centri energetici: i reni, il cuore e il tan tien inferiore situato nell’addome appena sotto l’ombelico.
          </p>
          <p>
            L’attivazione dei 3 fuochi avviene grazie allo scambio dinamico tra l’energia vitale Qi presente nel nostro corpo fisico e quella dell’intero universo. Attraverso la visualizzazione e particolari movimenti delle braccia, inviamo energia all’universo per poi riprenderla in quantità maggiore attingendo da tutte le direzioni: avanti, dietro, destra, sinistra, sopra e sotto.
          </p>
          <p>
            La particolare energia generata da questo processo è poi utilizzata per stimolare le principali ghiandole del nostro sistema endocrino.
          </p>
        </div>
      </div>
    </div>

    <div id="stemCellsSystem-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Sistema Cellule Staminali</div>
          <p>
            Le cellule staminali sono delle cellule “indifferenziate”: in grado, cioè, di trasformarsi in cellule di diversi tessuti o organi. Nel corpo umano le cellule staminali si trovano nel midollo osseo, nel cervello, nello strato più profondo della pelle, nel cordone ombelicale dei neonati.
          </p>
          <p>
            Le nuove frontiere della medicina puntano moltissimo sulle cellule staminali per il trattamento di malattie oggi incurabili.
          </p>
          <p>
            I saggi taoisti sono a conoscenza dell’importanza delle cellule staminali fin dall’antichità e hanno ideato delle tecniche finalizzate a favorirne la rigenerazione e la trasformazione in cellule di tessuti e organi compromessi del nostro corpo.
          </p>
          <p>
            La pratica taoista delle cellule staminali utilizza tecniche di visualizzazione, respirazione, circolazione dell’energia vitale Qi, stimolazione a livello fisico attraverso l’utilizzo di un particolare strumento denominato “bamboo hitter”.
          </p>
          </div>
      </div>
    </div>

    <div id="sexualHealingQiGongMan-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Qi Gong Sessuale Maschile</div>
          <p>
            I taoisti non hanno mai condannato il sesso perché consapevoli della enorme importanza dell’energia sessuale per la nostra salute e la nostra evoluzione spirituale. Le pratiche del Qi Gong Sessuale mirano a comprendere questo importante fenomeno energetico e a conservare l’energia sessuale nel corpo per utilizzarla a fini superiori.
          </p>
          <p>
            In questa antica visione, l’energia contenuta nell’apparato sessuale maschile è conosciuta come Jing Qi ed ha una potenza tale da poter generare nuova vita. Nell’uomo il Jing Qi si rigenera nei testicoli a cicli di 24 giorni e si disperde a seguito del processo di eiaculazione. Il senso di stanchezza che ogni uomo prova al termine dell’atto sessuale, ci restituisce facilmente la percezione di un enorme dispendio di energia.
          </p>
          <p>
            Nel Qi Gong Maschile apprendiamo come conservare tale energia e a riportarla in circolo nei nostri canali energetici principali grazie a tecniche di respirazione, visualizzazione e controllo del Qi.
          </p>
          <p>
            La pratica porta enormi benefici per molte disfunzioni maschili quali eiaculazione precoce, disfunzione erettile, impotenza e generale mancanza di vitalità.
          </p>
          </div>
      </div>
    </div>

    <div id="sexualHealingQiGongWoman-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Qi Gong Sessuale Femminile</div>
          <p>
            I taoisti non hanno mai condannato il sesso perché consapevoli della enorme importanza dell’energia sessuale per la nostra salute e la nostra evoluzione spirituale. Le pratiche del Qi Gong Sessuale mirano a comprendere questo importante fenomeno energetico e a conservare l’energia sessuale nel corpo per utilizzarla a fini superiori.
          </p>
          <p>
            In questa antica visione, l’energia contenuta nell’apparato sessuale femminile è conosciuta come Jing Qi ed ha una potenza tale da poter generare nuova vita. Nella donna il Jing Qi si rigenera nelle ovaie a cicli di 28 giorni e si disperde con l’arrivo delle mestruazioni. I numerosi disagi che molte donne provano durante il ciclo mestruale, ci restituiscono facilmente la percezione di un enorme dispendio di energia.
          </p>
          <p>
            Nel Qi Gong Femminile apprendiamo come conservare tale energia e a riportarla in circolo nei nostri canali energetici principali grazie a tecniche di respirazione, visualizzazione e controllo del Qi.
          </p>
          <p>
            La pratica porta enormi benefici per molte forme di dismenorrea.
          </p>
          </div>
      </div>
    </div>

    <div id="sexualHealingQiGongCouple-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Qi Gong Sessuale di Coppia</div>
          <p>
            I taoisti non hanno mai condannato il sesso perché consapevoli della enorme importanza dell’energia sessuale per la nostra salute e la nostra evoluzione spirituale. Le pratiche del Qi Gong Sessuale mirano a comprendere questo importante fenomeno energetico e a conservare l’energia sessuale nel corpo per utilizzarla a fini superiori.
          </p>
          <p>
            Il Qi Gong Sessuale di Coppia presuppone che entrambi i partner siano praticanti delle tecniche energetiche del Tao Kung Fu System. Nel caso in cui un praticante desideri sperimentare tali tecniche con il proprio partner, è fondamentale che quest’ultimo sia consenziente.
          </p>
          <p>
            La pratica consiste in uno scambio reciproco di energie Yin Yang permettendo all’energia vitale Qi di scorrere all’interno delle Orbite Microcosmiche dei due amanti come se fosse un unico canale.
          </p>
          <p>
            La tecnica permette ai partner di supportarsi a vicenda nel processo di riequilibrio della propria energia vitale, donando un’armonia di coppia a livello fisico, energetico e spirituale.
          </p>
          </div>
      </div>
    </div>
 <!-- Advance -->
    <div id="fusionofthe5Elements1-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Fusione dei 5 Elementi 1</div>
          <p>
            Nei secoli i taoisti hanno immaginato l’Universo fisico come una realtà dinamica costituita da un complesso rapporto di  equilibrio tra 5 elementi o forze: terra, aria, acqua, legno, fuoco. Il processo di interazione tra i 5 elementi è alla base della materia di cui è costituito l’Universo. E con esso anche il nostro corpo.
          </p>
          <p>
            Nella prima pratica alchemica della Fusione dei 5 Elementi, imparerai a prendere consapevolezza del fatto che le tue emozioni negative sono manifestazioni energetiche, collegate ai 5 elementi, che si  localizzano all’interno degli organi corrispondenti. Con la mente è possibile dirigere queste energie in alcune aree del nostro corpo per essere purificate e neutralizzate.
          </p>
          <p>
            Il Qi così purificato torna quindi a disponibile, libero di essere convogliato al centro del corpo ed impiegato per la creazione di una perla di energia che viene fatta circolare all’interno dell’Orbita Microcosmica.
          </p>
          <p>
            Nella stessa tecnica apprenderai come conservare ed accrescere la tua perla grazie al controllo consapevole dei canali attraverso i quali l’essere umano disperde la maggior quantità di energia vitale: i tuoi cinque sensi.
          </p>
          </div>
      </div>
    </div>

    <div id="fusionofthe5Elements2-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Fusione dei 5 Elementi 2</div>
          <p>
            Nel secondo modulo di alchimia interiore, conosciuto come Fusione dei 5 Elementi 2, imparerai ad utilizzare la tua perla di energia per la tua crescita emozionale e spirituale.
          </p>
          <p>
            Si parte riportando la perla nei punti di raccolta dei vari organi, dove precedentemente abbiamo individuato e trasformato le emozioni negative, per fare esperienza ed accrescere le corrispondenti emozioni positive.
          </p>
          <p>
            Successivamente, è possibile dirigere la perla attraverso particolari canali energetici che connettono il nostro corpo fisico con l’esterno: i Canali della Spinta e i Canali della Cintura.
          </p>
          <p>
            I Canali della Cintura, che scorrono orizzontalmente nella fascia compresa tra i reni e l’ombelico, collegano la parte inferiore della nostra struttura corporea con quella superiore garantendo una forte connessione alla Terra. I Canali della Spinta, che scorrono verticalmente tra il perineo e l’apice della testa, collegano la nostra energia interna con quella dell’Universo.
          </p>
          </div>
      </div>
    </div>

    <div id="fusionofthe5Elements3-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Fusione dei 5 Elementi 3</div>
          <p>
            Nell’ultimo modulo di alchimia interiore, conosciuto come Fusione dei 5 Elementi 3, imparerai ad attivare e dirigere l’energia all’interno di canali ben noti agli esperti di Medicina Tradizionale Cinese: il Grande Regolatore, i Canali del Grande Ponte e gli Otto Canali Straordinari.
          </p>
          <p>
            Il processo permette di risolvere, ad un livello ancora più sottile, eventuali blocchi psichici ed emozionali che non ti permettono di vivere pienamente, aiutandoti a creare una potente barriera energetica che ti proteggerà dalle influenze negative provenienti dall’esterno.  La tua energia interiore, così rinnovata, ti permetterà di relazionarti in piena libertà con gli eventi futuri e con gli altri, padroneggiando le situazioni senza perdere la connessione con il tuo centro.
          </p>
          <p>
            Al termine della tecnica sperimenterai inoltre una nuova profonda connessione tra il tuo corpo fisico e le due energie esterne che influiscono su di esso: quella della Terra e quello della Forza Universale.
          </p>
          </div>
      </div>
    </div>

    <div id="kujiIn-modal" class="ui modal basic fullscreen">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description container">
          <div class="ui header grey">Kuji In</div>
          <p>
            Il Kuji In è una pratica spirituale antichissima la cui origine si ritrova sia all’interno della tradizione Taoista che in quella afferente al Buddhismo giapponese.
          </p>
          <p>
            Consiste in una sequenza di nove simboli ottenuti attraverso particolari posizioni delle mani, o mudra, intrecciate tra loro. Ciascun mudra, accompagnato da una precisa intenzione mentale, veicola e attiva forme latenti della nostra energia vitale agendo praticamente come una sorta di interruttore: il contatto tra le dita permette infatti la connessione tra meridiani energetici che scorrono in modo simmetrico nei nostri arti superiori.
          </p>
          <p>
            Si narra che il Kuji In possa donare al praticante il potere dell’autoguarigione oltreché capacità al limite dell’ordinario, ma ciò che si può realmente affermare è che si tratta di una potente pratica meditativa per la comprensione della nostra energia nella sua forma più elevata.
          </p>
        </div>
    </div>
  </div>
</template>
<!-- End Home -->
