<template name="createLocation">
  <div id="createLocation" class="location-header text-center">
    เพิ่มสถานประกอบการลงบนแผนที่ของ 4 ขา
  </div>
  <div class="location-left-container">
    {{> Template.dynamic template=stepsContainer}}
  </div>
</template>

<!-- STEP 1 -->
<template name="createStep1">
  <form class="form-group">
    <label for="pet-shop">ชื่อสถานประกอบการ</label>
    <input type="text" name="pet-shop" class="form-control">
    <br>
    <label for="shop-location">ตำแหน่งสถานประกอบการ (คลิกบนแผนที่)</label>
    <br>
    Lat : <input id="lat" type="text" name="lat-location" class="form-control" readonly>
    Lng : <input id="lng" type="text" name="lng-location" class="form-control" readonly>
    <br>
    <label for="business-type">ประเภท</label>
    <div class="checkbox">
      <label>
        <input name="business-type" type="checkbox" value="สถานพยาบาล">
        สถานพยาบาล
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="business-type" type="checkbox" value="บริการสัตว์เลี้ยง">
        บริการสัตว์เลี้ยง
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="business-type" type="checkbox" value="ร้านค้า">
        ร้านค้า
      </label>
    </div>
    <label for="type">ชนิดสัตว์</label>
    {{#each animalType}}
      <div class="checkbox">
        <label>
          <input name="animal-type" type="checkbox" value="{{this}}">
          {{this}}
        </label>
      </div>
    {{/each}}
  <br>
  <button type="button" id="cancel" class="btn btn-danger col-lg-5">ยกเลิก</button>
  <div class="col-lg-1"></div>
  <button type="button" id="next" class="btn btn-success col-lg-5">ต่อไป</button>
  </form>
</template>

<!-- STEP 2 -->
<template name="createStep2">
  <label for="days-week">วันเปิดทำการ</label>
  <br>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="อา"> อา
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="จ"> จ
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="อ"> อ
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="พ"> พ
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="พฤ"> พฤ
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="ศ"> ศ
  </label>
  <label class="checkbox-inline days-week">
    <input type="checkbox" name="days-week" value="ส"> ส
  </label>
  <br><br>
  <label for="open-time">เวลาเปิดทำการ</label>
  <br>
  <form class="form-inline">
    <div class="form-group">
      <label></label>
      <input type="text" name="open-time" class="form-control shop-time timepicker" placeholder="&#xf017; เวลาเปิด">
    </div>
    <div class="form-group">
      <label></label>
      <input type="text" name="close-time" class="form-control shop-time timepicker" placeholder="&#xf017; เวลาปิด">
    </div>

  </form>
  <br><br>
  <label for="address">ที่อยู่</label>
  <textarea name="address" class="form-control" rows="5"></textarea>
  <br><br>
  <label for="detail">รายละเอียดสถานประกอบการ</label>
  <textarea name="detail" class="form-control"  rows="5"></textarea>
  <br><br>
  <label for="shop-photo">รูปภาพประกอบ</label>
  <br>
  <div class="preview-location-photo"></div>
  <input type="file" name="upload" id="file" class="upload-img">
  <label for="file" class="my-color-brown label-upload text-center">
    <img id="location-add-photo" src="/images/object/5-location/add.png" alt="">
    <u>เพิ่มรูปภาพ</u>
  </label>
  <br><br>
  <button type="button" id="back" class="btn btn-warning col-lg-5">ย้อนกลับ</button>
  <div class="col-lg-1"></div>
  <button type="button" id="next" class="btn btn-success col-lg-5">ต่อไป</button>
</template>

<!-- createStep3 -->
<template name="createStep3">
  <label for="tel">เบอร์โทรศัพท์</label>
  <input type="text" name="tel" class="form-control">
  <br>
  <label for="email">E-mail</label>
  <input type="text" name="email" class="form-control">
  <br>
  <label for="website">Website</label>
  <input type="text" name="website" class="form-control">
  <br>
  <label for="facebook">Facebook</label>
  <input type="text" name="facebook" class="form-control">
  <br>
  <label for="line">Line ID</label>
  <input type="text" name="line" class="form-control">
  <br>
  <label for="instagram">Instagram</label>
  <input type="text" name="instagram" class="form-control">
  <br><br>
  <button type="button" id="back" class="btn btn-warning col-lg-5">ย้อนกลับ</button>
  <div class="col-lg-1"></div>
  <button type="button" id="save" class="btn btn-success col-lg-5">บันทึก</button>
</template>

<!-- createStep4 -->
<template name="createStep4">
  <div class="head-step4 text-center">
    <h3 class="my-color-active-brown"><b>เพิ่มสถานประกอบการลงบนแผนที่ 4 ขา สำเร็จแล้ว</b></h3>
    <br>
    <img src="/images/object/3-news feed/feet-left.png" alt="">
  </div>
  <div class="location-owner">
    <h4>คุณเป็นเจ้าของสถานประกอบการนี้ใช่หรือไม่ ?</h4>
    <div class="radio">
      <label>
        <input type="radio" name="location-owner" value="yes">
        ใช่ ฉันเป็นเจ้าของสถานที่แห่งนี้
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="location-owner" value="no">
        ไม่ใช่
      </label>
    </div>
    <br>
    {{#if showOwnerDialog}}
      {{> ownerDialog}}
    {{/if}}
  </div>
  <br>
  <button id="done" type="button" class="btn btn-success" disabled="disabled">เสร็จสิ้น</button>
</template>

<template name="ownerDialog">
  <p class="text-center">
    เพื่อยืนยันตัวตน กรุณากรอกข้อมูลให้ครบถ้วน เจ้าหน้าที่จะทำการติดต่อกลับไปภายหลังค่ะ
  </p>
  <div class="form-group">
    <label for="ownerName">ชื่อ-นามสกุล</label>
    <input type="text" name="ownerName" class="form-control">
  </div>
  <div class="form-group">
    <label for="ownerTel">เบอร์โทรศัพท์</label>
    <input type="text" name="ownerTel" class="form-control">
  </div>
  <div class="form-group">
    <label for="ownerEmail">อีเมล</label>
    <input type="text" name="ownerEmail" class="form-control">
  </div>
</template>
